html, body {
    background-image: url("https://tailwindcss.com/_next/static/media/hero-dark@90.a7a063e8f9d179fbd72b0b735c5797b7.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}